.form__wrapper {
    min-width: 300px;
    max-width: 480px;
    width: 100%;
    text-align: left;
    margin: auto;
}

.form-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control:not(:last-of-type) {
    margin-bottom: 30px;
}

.form-control label {
    min-width: 150px;
    color: #75b79f;
}

.form-control input::-webkit-outer-spin-button,
.form-control input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control input[type=number] {
    -moz-appearance:textfield;
    text-align: right;
}

.form-control input,
.form-control select {
    max-width: 150px;
}

.submit {
    text-align: center;

    button[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }
}
