.tech-stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  margin-bottom: 50px;
  padding: 0 10px;
}

div {
  color: #e8e8e8;

  .tech-stack-item--name {
    font-size: 1.15rem;
    margin: 10px 0;
  }

  .tech-stack-item--description {
    font-size: 0.8rem;
    line-height: 14px;
  }
}

@mixin Icon($url) {
  width: 90px;
  height: 90px;
  border: 3px solid #75b79f;
  border-radius: 50%;
  background: #e8e8e8 url($url) no-repeat center center;
  background-size: 50px;
}

.tech-stack-item--icon  {

  &.react {
    @include Icon('./../../../../assets/img/react.png');
  }

  &.typescript {
    @include Icon('./../../../../assets/img/typescript.png');
  }

  &.tailwind {
    @include Icon('./../../../../assets/img/tailwind.png');
  }

  &.nodejs {
    @include Icon('./../../../../assets/img/nodejs.png');
  }

  &.docker {
    @include Icon('./../../../../assets/img/docker.png');
  }

  &.java {
    @include Icon('./../../../../assets/img/java.png');
  }

  &.kotlin {
    @include Icon('./../../../../assets/img/kotlin.png');
  }

  &.gradle {
    @include Icon('./../../../../assets/img/gradle.png');
  }

  &.spring-boot {
    @include Icon('./../../../../assets/img/spring-boot.png');
  }

  &.redis {
    @include Icon('./../../../../assets/img/redis.png');
  }

  &.python {
    @include Icon('./../../../../assets/img/python.png');
  }

  &.flask {
    @include Icon('./../../../../assets/img/flask.png');
  }

  &.gunicorn {
    @include Icon('./../../../../assets/img/gunicorn.png');
  }
}
