.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 800px) {
    justify-content: center;
  }
}

.logo {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  background: url('../../assets/img/logo.png') no-repeat center center;
  background-size: 36px 36px;
  border-radius: 10px;
}

.name {
  width: 105px;
  margin-top: -3px;
}
