.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 960px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: unset;
        width: 98%;
        padding: 0 1%;
    }
}
