.nav {
    background: rgba(4, 49, 38, 0.66);
    box-shadow: 0 2px 8px 2px rgba(9, 9, 9, 0.23);
    color: #e8e8e8;
}

.nav,
.nav .container {
    min-height: 60px;
}

.nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .container > div {
    width: 50%;
    text-align: left;
}

nav {
    width: 100%;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul li {
    display: block;
    width: fit-content;
}

.nav ul li a {
    padding: 5px 8px;
}

.nav ul li:not(:first-of-type) {
    margin-left: 10px;
}

.content {
    flex: 1;
    padding: 20px 0;
}

@media (max-width: 800px) {
    .nav .container > div {
        width: 100%;
        text-align: center;
    }

    .right {
        display: none;
    }
}
