.switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switch-button:not(:last-of-type) {
  margin-right: 10px;
}

.switch-button {
  button {
    font-size: 0.9rem;
    padding: 5px 15px;
    border: 2px solid #0f766e;
    border-radius: 20px;
    background-color: #e8e8e8;
    color: #0f766e;
    transition: background-color ease-out .2s, color ease-out .2s;
  }

  button:hover {
    background-color: lighten(#75b79f, 15%);
    color: #e8e8e8;
  }

  &.active {
    button {
      background-color: #75b79f;
      color: #e8e8e8;
    }
  }
}
