footer {
    background: rgba(14, 21, 27, .55);
    color: #e8e8e8;
}

.footer {
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 960px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}
