@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    background-size: cover;
    background: url('./assets/img/background.jpg') no-repeat fixed center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .65);
}

h2 {
    font-size: 1.6rem;
    font-family: 'Roboto Light', sans-serif;
    color: #0f766e;
}

p {
    color: #2dd4bf;
}

p:not(:last-of-type) {
    margin-bottom: 12px;
}
