.upgrade__result {
    min-width: 300px;
    max-width: 480px;
    width: 100%;
    text-align: left;
    margin: 50px auto 0;
}

.result__field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #75b79f;
}

.result__field:not(:last-of-type) {
    margin-bottom: 15px;
}
